version: "3.8"

services:
  pulse:
    image: ${IMAGE_NAME}
    restart: unless-stopped
    container_name: pulse
    network_mode: host
    environment:
      DATABASE_URL: postgresql://postgres.${TENANT_ID}:${POSTGRES_PASSWORD}@${DATABASE_IP}:5432/postgres
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_ANON_KEY: ${SUPABASE_ANON_KEY}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      RUNNING_IN_DOCKER: "true"
      GOOGLE_OAUTH_ENABLED: ${GOOGLE_OAUTH_ENABLED:-false}
      DISCORD_OAUTH_ENABLED: ${DISCORD_OAUTH_ENABLED:-false}
      FACEBOOK_OAUTH_ENABLED: ${FACEBOOK_OAUTH_ENABLED:-false}
      TWITCH_OAUTH_ENABLED: ${TWITCH_OAUTH_ENABLED:-false}
      PUBLIC_IP: ${PUBLIC_IP}
      GIPHY_API_KEY: ${GIPHY_API_KEY:-}
      TRUST_PROXY: "true"
      GIPHY_API_KEY: ${GIPHY_API_KEY:-}
    volumes:
      - ./data/pulse:/root/.config/pulse
